# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [1]:
#Create a tuple with the first 10 positive integers. Print the tuple.

tup_1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(tup_1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [2]:
tup_1 = tuple(range(1, 11))
print(tup_1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [10]:
#Print the first, middle, and last elements of the tuple created in Assignment 1.
middle_element= tup_1[len(tup_1)//2]
print(middle_element)

6

In [15]:
#Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

print(tup_1[2:6])

(3, 4, 5, 6)

In [16]:
#Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

matrix = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
for row in matrix:
    print(row)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [17]:
element = matrix[1][2]
print(element)

6

In [19]:
#Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.
tup_1 = (1, 2, 3)
tup_2 = (4, 5, 6)
tup_3 = tup_1+ tup_2
print(tup_3)

(1, 2, 3, 4, 5, 6)

In [33]:
#Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.
from collections import Counter

tup_2 = (2, 2, 2, 1, 3, 3, 5, 7, 8)

count = Counter(tup_2)

for element, occurrence in count.items():
    if occurrence >1:
        print(f"Element{element} appears {occurrence} times.")

Element2 appears 3 times.
Element3 appears 2 times.

In [34]:
#Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.
tup_a = (10, 20, 30, 40)

a,b, c, d = tup_a

print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [35]:
#Convert a list of the first 5 positive integers to a tuple. Print the tuple.

list_a = [1, 2, 3, 4, 5]
tup_q = tuple(list_a)
print(tup_q)

(1, 2, 3, 4, 5)

In [43]:
#Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.
tupe_1a = ((1, 2, 3), (6, 7, 8), (4, 5, 6))
tupe_2a = tuple(tupe_1a)
print(tupe_2a)

((1, 2, 3), (6, 7, 8), (4, 5, 6))

In [48]:
#Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

tupe_c = (3, 4, 5, 6, 7)
list_d = list(tupe_c)
list_d
list_d.append(6)
print(list_d)
tupe_d = tuple(list_d)
print(tupe_d)

[3, 4, 5, 6, 7, 6]
(3, 4, 5, 6, 7, 6)

In [50]:
#Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

tupp = ("Dawood", "John", "Ahmad")
result = " ".join(map(str, tupp))
print(result)

Dawood John Ahmad

In [58]:
#Create a dictionary with tuple keys and integer values. Print the dictionary.

dicc = {('apple', 1):10, ('banana', 2):20, ('cherry', 3):30}
print(dicc)

{('apple', 1): 10, ('banana', 2): 20, ('cherry', 3): 30}

In [61]:
#Create a nested tuple and iterate over the elements, printing each element.
nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))

for element in nested_tuple:
    for sub_element in element:
        print(sub_element)

1
2
3
4
5
6
7
8
9

In [63]:
#Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

tupa = (3, 3, 5, 6, 7, 7, 8)
tupaa = set(tupa)
print(tupaa)

{3, 5, 6, 7, 8}

In [66]:
#Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.
tuppaa = (1, 2, 3, 4, 5)
def tupaa_ele():
    min_val = min()
tupaa_ele()

5
1
15
5
1
15
5
1
15
5
1
15
5
1
15

In [70]:
# Sample tuple
tuppaa = (1, 2, 3, 4, 5)

# Function to return the minimum, maximum, and sum of elements in the tuple
def tupaa_ele(tup):
    min_val = min(tup)
    max_val = max(tup)
    total_sum = sum(tup)
    
    return min_val, max_val, total_sum
tupaa_ele(tuppaa)

(1, 5, 15)